<div class="card w-100 my-5">
<div class="card-body">
    <h1 class="card-title text-center">List Users</h1>
    <button class="btn btn-success mb-4 float-end" routerLink="/form">New user</button>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Profession</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Nelson</th>
                <th>35</th>
                <th>Developer</th>
                <th><button class="btn btn-primary">Edit</button></th>
                <th><button class="btn btn-danger">Delete</button></th>
            </tr>
        </tbody>
    </table>
</div>
</div>