<div class="card w-100 my-5">
  <div class="card-body">
    <h1 class="card-title text-center">Form Users</h1>
    <form action="">
      <div class="row">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="type your name"
            />
            <label for="floatingInput">Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="type your last name"
            />
            <label for="floatingInput">Last Name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="age"
              placeholder="type your age"
            />
            <label for="floatingInput">Age</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="profession"
              placeholder="type your profession"
            />
            <label for="floatingInput">Profession</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 mt-4">
          <button type="button" class="btn btn-outline-danger float-start">
            Cancel
          </button>
          <button type="button" class="btn btn-outline-success float-end">
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
